.midi-toys-app {
    position: absolute; 
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 000, 0.5);
    /* background-color: transparent; */
    left: 50%;
    top: 50%;
    margin-left: -115px;
    margin-top: -215px;
    width: 230px;
    height: 430px;
}
.icons8-credit {
    position: absolute;
    z-index: 1;
    color: #010101
}
#sketch-holder{
    background-color: transparent;
    margin: auto;
    cursor: none;
}
#arrows-animation{
    margin: auto;
}

.no-copy {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
  }

body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
.aButton {
    margin:auto;
    background-color: transparent;
    box-shadow: 1px 8px 8px white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    width: 136px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    display: block;
    margin-top: 4%;
}
a.aButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}

a.aButton:active {
  box-shadow: none;
  top: 5px;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin: auto;
}
select,
input {
    background-color: transparent;
    color: white;
    border-radius: 2px;
    padding: 5px 0px 5px 0px;
    margin: 5px 5px;
    width: 136px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid
}

.white-border-button  {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    width: 140px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
.aStyle {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

.image-credit {
    display: block;
    border-style:none;
    text-align: center;
}
@media (max-width: 450px) {
.aStyle {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
.arrow-input-label,
.arrow-input {
    display: block;
    color: white;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.edit-options {
    display: inline-block;
}

.edit-options-member {
    display: inline-block;
}
.edit-options-button {
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

option {
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    width: 136px;
    text-align: center;
}
/* ---- reset ---- */
body{
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
}
canvas{
    display: block; 
    vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: black;
    background-image: url("");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: transparent;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: transparent;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: transparent;
  }
  
//   .resize-grid-slider {
      
//   input[type=range]::-webkit-slider-thumb {
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     // border: 1px solid #000000;
//     height: 36px;
//     width: 36px;
//     border-radius: 3px;
//     background: #000000;
//     background-size: 36px 36px;
//     background-image: url("icons8-resize-48.png");
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-top: -14px;
//   }
//   }